@import url(headerfooter.css);

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
  }

/*MAIN*/
main{
    flex: 1;
    overflow-y: auto;
    width: 100%;
    font-family: "Lexend";
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-rotina{
    width: max-content;
    height: max-content;
    margin: 19px 0 0 0;
}

.titulo-rotina h1{
    font-weight: 560;
    font-size: 22px;
    color: var(--color-cinzaescuro);
}

#titulo-menor{
    display: flex;
    column-gap: 7px;
    margin-top: 7px;
}

#titulo-menor #titulo-manha{
    font-weight: 760;
    font-size: 14px;
    color: var(--color-verde);
}

#titulo-menor p{
    color: var(--color-verde);
}

#titulo-menor #titulo-data{
    font-weight: 330;
    font-size: 14px;
    color: var(--color-verdeclaro);
}



/*LISTA ROTINA*/
.elementos-rotina{
    margin-top: 20px;
    width: max-content;
    min-height: 685px;
    display: flex;
    
    overflow-y: auto;
    padding-right: 5px;
}

.lista-rotina{
    width: max-content;
    height: max-content;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.item-lista{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.conteudo-item{
    width: 255px;
    height: max-content;
    margin: 0
}

.conteudo-item h4{
    font-weight: 560;
    font-size: 14px;
}

.conteudo-item p{
    font-weight: 360;
    font-size: 12px;
    color: var(--color-jetblack);
    margin-top: 5px;
}



.checkbox-item{
    width: 18px;
    height: 18px;
    cursor: pointer;

    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
    border: var(--color-jetblack);
    background-color: var(--color-jetblack);
    position: relative;
}

.checkbox-item:checked {
    background-color: var(--color-verde);
    border-color: var(--color-verde);
    background-image: url('../images/Checkmark.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 9.4px; 
}


/*Texto melhorado*/
.textorotina-marcado{
    color: var(--color-cinzaescuro);
    transition: color;
}

.textorotina-marcado.completo{
    color: var(--color-verdeclaro);
}

.texto-gradiente {
    background: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Para navegadores modernos */
}




/*BARRA DE PROGRESSÃO*/
.container-progresso{
    width: 3px;
    height: 485px;
    background-color: var(--color-cinzaescuro);
    margin-right: 20px;
}

.barra-progresso{
    width: 100%;
    height: 0%;
    background-color: var(--color-verdeclaro);
    top: 0;
    transition: height 0.3s ease;
}