@import url(headerfooter.css);
@import url(rotina.css);

/* MAIN CONTENT */
.conteudo__principal {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  font-family: "Lexend";
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25rem;
}

.secao__adicionar_tarefa {
  display: flex;
  flex-direction: column;

  gap: 5vh;
  width: 100%;

  margin: 1.75rem 0;
}

.secao__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.secao__info--title {
  font-size: 1.75rem;
}

.secao__info--description {
  font-size: 1rem;
}

.form__adicionar_tarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 5vw;
  width: 100%;
  padding: 0.5rem 0.25rem;

  background-color: #f1fff3;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.form__botao--adicionar {
  background: transparent;
  border: none;
  cursor: pointer;

  &:has(img) {
    padding: 1rem;

    border: 2px solid rgba(0, 0, 0, 0.2);

    border-radius: 50%;
  }
}

.form__container--input {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 0.25rem;

  color: var(--color-black);
  background-color: transparent;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;

  transition: border-color 0.3s ease;
  &:focus {
    outline: none;
    border: 2px solid var(--color-black);
    border-radius: 0.25rem;
  }
}

.form__group {
  position: relative;
  width: 100%;
}

.form__label {
  position: absolute;
  left: 4px;
  transform: translateY(50%);
  font-size: 0.75rem;
  pointer-events: none;
  transition: all 0.2s ease;
}

.continainer__input--datetime {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: space-between;
}

input[type="datetime-local"]::-webkit-datetime-edit {
  opacity: 0;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}

label:has(input) {
  width: 100%;
}

.item-lista {
  align-items: flex-start;
}
